@import '../utils/variables.scss';
.footer {
    background-color: $darkBlue;
    color: $grey;
    padding: 2rem 1rem;
    text-align: center;
  
    .footer-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  
      @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
      }
  
      .footer-logo {
        margin-bottom: 1rem;
  
        h2 {
          color: $lightBlue;
        }
      }
  
      .footer-links,
      .footer-social {
        margin-bottom: 1rem;
  
        a {
          color: $lightBlue;
          text-decoration: none;
          margin: 0 0.5rem;
          font-size: 1.2rem;
          transition: color 0.3s ease;
  
          &:hover {
            color: $pink;
          }
        }
      }
  
      .footer-social {
        a {
          font-size: 1.5rem;
  
          i {
            transition: color 0.3s ease;
  
            &:hover {
              color: $pink;
            }
          }
        }
      }
    }
  
    .footer-bottom {
      border-top: 1px solid $grey;
      padding-top: 1rem;
      margin-top: 1rem;
  
      p {
        margin: 0;
        font-size: 0.9rem;
      }
    }
  }