@import '../utils/variables.scss';
.location-button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;

  .btn {
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;

    &.start {
      background-color: $lightBlue;
      color: white;

      &:hover {
        background-color: $purple;
      }
    }

    &.stop {
      background-color: $pink;
      color: white;

      &:hover {
        background-color: $darkBlue;
      }
    }
  }
}