@import '../utils/variables.scss';

.login-container, .register-container {
  background-color: $darkBlue;
  color: $grey;
  padding: 2rem;
  border-radius: 10px;
  max-width: 400px;
  margin: 2rem auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  h2 {
    margin-bottom: 1.5rem;
    color: $lightBlue;
    font-size: 2rem;
  }

  form {
    display: flex;
    flex-direction: column;

    input {
      margin-bottom: 1rem;
      padding: 0.75rem;
      font-size: 1rem;
      border: 1px solid $grey;
      border-radius: 5px;
      outline: none;
      transition: border-color 0.3s ease;

      &:focus {
        border-color: $lightBlue;
      }
    }

    .btn {
      padding: 0.75rem;
      font-size: 1.2rem;
      color: white;
      background-color: $pink;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $lightBlue;
      }
    }
  }

  .back-home {
    display: block;
    text-align: center;
    margin-top: 1rem;
    padding: 0.75rem;
    font-size: 1rem;
    color: $grey;
    background-color: $darkBlue;
    border: 1px solid $lightBlue;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: $lightBlue;
      color: white;
    }
  }
}