@import '../utils/variables.scss';
.map-container {
  width: 100%;
  height: 500px; /* Ajustar según tus necesidades */
  border-radius: 10px;
  overflow: hidden;
  position: relative;

  .leaflet-container {
    width: 100%;
    height: 100%;
  }

  .leaflet-popup-content-wrapper {
    background: $darkBlue;
    color: $grey;
    border-radius: 5px;
  }

  .leaflet-popup-content {
    margin: 1rem;
    
    a {
      color: $pink;
      text-decoration: underline;

      &:hover {
        color: $lightBlue;
      }
    }
  }

  .leaflet-popup-tip {
    background: $darkBlue;
  }

  .leaflet-popup-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: $pink;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $lightBlue;
    }
  }
}